@font-face {
    font-family: 'Starjout';
    src: url('./fonts/Starjout.ttf') format('truetype');
}

@font-face {
    font-family: 'STJEDISE';
    src: url('./fonts/STJEDISE.TTF') format('truetype');
}

.h1 {
    border-top: 1px solid black;
}

.h1,
.h2 {
    font-family: 'STJEDISE', sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.h3 {
    padding: 5px;
    font-weight: bold;
    font-size: large;
    color: #EEDB00;
    background-color: rgba(138, 138, 138, 0.865);
}

.characters {
    font-family: 'Starjout', sans-serif;
}