.button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(13, 165, 13);
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
  }

  .star {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color: rgb(254, 254, 254);
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

.star_passive {
    fill: black;
}

.star_active {
    fill: rgb(238, 219, 49);
}

.star:hover svg {
    fill: rgb(238, 219, 49);
}