.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.btnClose1 {
  color: white;
  background-color: #b3382c;
  border-style: none;
  border-radius: 5px;
  padding: 5px 20px;
}

.btnClose2 {
  color: white;
  background-color: #07660e;
  border-style: none;
  border-radius: 5px;
  padding: 5px 20px;
}