.modalHeader1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #d44637;
  width: 460px;
  height: 20px;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modalHeader2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #39ad35;
  width: 460px;
  height: 20px;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d44637;
}

.modalHeader h2 {
  margin: 0;
}

.close {
  cursor: pointer;
}

.modalBody1 {
  padding: 20px;
  background-color: #e74c3c;
  height: 40px;

}

.modalBody2 {
  padding: 20px;
  background-color: #3cd437;
  height: 80px;
}

.modalActions1 {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: #e74c3c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modalActions2 {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: #3cd437;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

