.pageContainer {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.h1 {
    text-align: center;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    width: 500px;
    height: 20px;
}

input {
    width: 300px;
    margin-left: 10px;
}

.formContainer {

    text-align: center;

}

.formContainer2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;
}

button {
    margin: 20px 0;
}