.container {
    height: 100px;
    width: 1300px;
    display: flex;
    justify-content: right;
    align-items: center;

    &_icons {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_wishList {
            width: 50px;
            position: relative;

            img {
                width: 100%;
            }

            &_counter {
                position: absolute;
                top: -5px;
                right: -5px;
                width: 25px;
                height: 25px;
                background-color: cornflowerblue;
                border-radius: 50%;
                border-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        &_basket {
            width: 50px;
            position: relative;


            img {
                width: 100%;
            }

            &_counter {
                position: absolute;
                top: -10px;
                right: -10px;
                width: 25px;
                height: 25px;
                background-color: cornflowerblue;
                border-radius: 50%;
                border-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
    }

}