.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 520px;
    border: 1px solid black;
    margin: 0 20px 25px 25px;
    border-radius: 0 0 10px 10px;
}

.linkContainer {
    position: relative;
}

.picture{
    width: 250px;
    height: 330px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName {
    font-size: 18px;
    font-weight: 600;
}

p{
    margin: 7px;
}
