.container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(72, 72, 72);
    border-radius: 15px 15px 0 0;
}