
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 196, 196);
    height: 30px;
    border-radius: 5px;
  }
  
  .modalHeader h2 {
    margin: 0;
  }
  
  .close {
    cursor: pointer;
  }
  
  .modalBody {
    margin-top: 20px;
  }
  
  .modalActions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .buttonConfirm {
    padding: 5px;
    margin-right: 20px;
    background-color:  rgb(166, 165, 165);
    border-style: none;
    border-radius: 7px;
    color: white;
  }

  .buttonConfirm:hover {
    background-color:  rgb(95, 95, 95);
  }

  .buttonClose {
    background-color:  rgb(166, 165, 165);
    border-style: none;
    border-radius: 7px;
    color: white;
  }

  .buttonClose:hover {
    background-color:  rgb(95, 95, 95);
  }