.star {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color: rgb(254, 254, 254);
    border-radius: 50%;
    border-style: none;
}
.star:hover svg {
    fill: rgb(238, 219, 49);
}