.button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(13, 165, 13);
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
  }