body {
    background-color: dimgray;
    display: flex;
    justify-content: center;
}
.card {
    background-color: black;
    margin-top: 20px;
    position: relative;
    width: 600px;
}

svg {
    padding-left: 10px;
    padding-top: 10px;
}

.title {
    color: gray;
    padding-left: 10px;
}

.body {
    color: white;
    padding-left: 10px;
}

.gray {
    color: gray;
    margin-right: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.white {
    color: white;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.author {
    margin: 0 20px 0 10px;
    font-weight: 700;
}

.email {
    color: rgb(215, 214, 214);
    margin-right: 20px;
}

.comments {
    margin-left: 10px;
}

.iconsContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}